<div class='col-lg-6 offset-lg-3 border p-5'>
  <div class='form-centered'>

    <h2 class='mb-4'>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, 'data-turbo': false }) do |f| %>
      <%= render '/shared/error_messages', pattern: resource %>
      <%= render '/shared/notifications'%>

      <%= f.hidden_field :reset_password_token %>

      <div class='field mb-2'>
        <%= f.label :password, 'New password' %>
        <%= f.password_field :password, class: 'form-control form-control-sm', autofocus: true, autocomplete: 'new-password' %>
      </div>

      <div class='field mb-2'>
        <%= f.label :password_confirmation, 'Confirm new password' %>
        <%= f.password_field :password_confirmation, class: 'form-control form-control-sm', autocomplete: 'new-password' %>
      </div>

      <div class='actions'>
        <%= f.submit 'Change my password', class: 'btn btn-dark' %>
      </div>
    <% end %>

    <div class='d-flex justify-content-center mt-2'>
      <%= render 'devise/shared/links' %>
    </div>
  </div>
</div>
