<div class='col-lg-6 offset-lg-3 border p-5'>
  <div class='form-centered w-75 mx-auto'>

    <h2 class='mb-4'>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, 'data-turbo': false }) do |f| %>
      <%= render '/shared/error_messages', pattern: resource %>
      <%= render '/shared/notifications'%>

      <%= f.hidden_field :reset_password_token %>

      <div class='field mb-2 position-relative' data-controller='password-visibility'>
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control form-control-sm', autocomplete: 'current-password', 'data-password-visibility-target': 'input' %>
        <button data-action='password-visibility#toggle' class='rounded btn-outline-dark position-absolute bottom-0 end-0'>
          <span class='bi bi-eye'>
          </button>
      </div>

      <div class='field mb-3 position-relative' data-controller='password-visibility'>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control form-control-sm', autocomplete: 'current-password', 'data-password-visibility-target': 'input' %>
        <button data-action='password-visibility#toggle' class='rounded btn-outline-dark position-absolute bottom-0 end-0'>
          <span class='bi bi-eye'>
          </button>
      </div>

      <div class='actions'>
        <%= f.submit 'Change my password', class: 'btn btn-dark' %>
      </div>
    <% end %>
  </div>
</div>
