<div class='col-lg-6 offset-lg-3 border p-5'>
  <div class='form-centered w-75 mx-auto'>

    <h2 class='mb-4'>Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, 'data-turbo': false }) do |f| %>
      <%= render '/shared/error_messages', pattern: resource %>
      <%= render '/shared/notifications'%>

      <%= f.hidden_field :reset_password_token %>

      <%= render 'devise/shared/password_field', f: f, field: :password %>
      <%= render 'devise/shared/password_field', f: f, field: :password_confirmation %>

      <div class='actions'>
        <%= f.submit 'Change my password', class: 'btn btn-dark' %>
      </div>
    <% end %>
  </div>
</div>
