<nav class='navbar navbar-expand-lg navbar-dark bg-dark fixed-top py-3'>
  <div class='container'>
    <a class='navbar-brand border-bottom' href='#'>Budget planner</a>
    <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>
    <li class='dropdown'>
      <button class='btn btn-outline-light dropdown-toggle' type='button' id='dropdownMenuButton1' data-bs-toggle='dropdown' aria-expanded='false'>
        My wallets
      </button>
      <ul class='dropdown-menu py-2 px-4' aria-labelledby='dropdownMenuButton1'>
        <% current_user.wallets.each do |wallet| %>
          <%= render 'wallets/wallet', wallet: wallet %>
        <% end %>
        <%= link_to 'Create wallet', new_wallet_path, class: 'text-dark' %>
      </ul>
    </li>
    <div class='collapse navbar-collapse' id='navbarResponsive'>
      <ul class='navbar-nav ms-auto'>
        <li class='nav-item'>
          <%= link_to 'Dashboard', dashboards_path, class: 'btn btn-dark mx-2' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Home', home_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'Reports', reports_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= button_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo: false }, class: 'btn btn-dark' %>
        </li>
      </ul>
    </div>
  </div>
</nav>
