<div class='container'>
  <%= render 'shared/header' %>

  <%= turbo_stream_from 'transactions' %>
  <h1 class='pt-5 mb-4'>All Transactions</h1>
  <%= turbo_frame_tag 'transactions', class: 'row' do %>
    <% current_user.transactions.each do |transaction| %>
      <%= render 'transactions/transaction', transaction: transaction %>
    <% end %>
  <% end %>

  <%= render 'modals/transaction' %>
</div>
