<div class='mx-2'>
  <div class='text-dark col-10 col-lg-8 col-xxl-10 px-5 mx-auto m-5 border-bottom border-top py-2'>
    <h2>Welcome to Budget Planner!</h2>
    <h5 class='lh-base'>Ever feel like you’re throwing money away?
      Take control of your cash flow by logging what you’re spending with a simple form.
      It takes seconds to record daily transactions.
      Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.
    </h5>
  </div>

  <div class='row mx-auto justify-content-center'>
    <div class='col-11 col-lg-6'>
      <%= image_tag('landing/main.jpg', alt: 'main-image', class: 'col-12') %>
    </div>

    <div class='col-11 col-sm-7 col-lg-4 col-xxl-3 my-auto p-5 border rounded-circle'>
      <h2>Start tracking your expenses and income</h2>
      <%= link_to "Let's Get Started", new_user_registration_path, class: 'btn btn-dark mt-2 w-50 rounded-pill' %>
    </div>
  </div>

  <div class='about mx-2 row justify-content-center mb-5'>
    <h2 class='m-5 py-4 col-8 col-xxl-10 border-top border-bottom'>Features our users love</h2>
    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Very Fast</h3>
      <div class='image--border p-4 mx-auto my-4'>
        <%= image_tag('landing/rocket.png', alt: 'Rocket-icon') %>
      </div>
      <p>
        Our application is incredible fast on all devices like PC, Tablet and Smartphone.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>100% Secured</h3>
      <div class='image--border p-4 mx-auto my-4'>
        <%= image_tag('landing/security.png', alt: 'Security-icon') %>
      </div>
      <p>
        Data on our servers is protected.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Easy to Use</h3>
      <div class='image--border p-4 mx-auto my-4'>
        <%= image_tag('landing/easy.png', alt: 'Easy-icon') %>
      </div>
      <p>
        It is very easy to use Budget Planner everyday.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Reporting</h3>
      <div class='image--border p-4 mx-auto my-4'>
        <%= image_tag('landing/chart.png', alt: 'Chart-icon') %>
      </div>
      <p>
        Budget Planner has ability to generate and download report of your income and expense. It is very usefull to see the graphics of your transactions.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Custom Categories</h3>
      <div class='image--border p-4 mx-auto my-4'>
        <%= image_tag('landing/custom.png', alt: 'Custom-icon') %>
      </div>
      <p>
        The user has possibility to choose a category from the proposed list or create his own unique category with expenses or income.
      </p>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4'>
      <h3>Responsive Design</h3>
      <div class='image--border p-4 mx-auto my-4'>
        <%= image_tag('landing/responsive.png', alt: 'Responsive-icon') %>
      </div>
      <p>
        You can use one Budget Planner account on the different devices such as PC, Tablet or Smartphone.
      </p>
    </div>
  </div>

  <div class='about mx-2 row justify-content-center mb-5'>
    <h2 class='m-5 py-4 col-8 border-top border-bottom col-xxl-10'>See what others have to say</h2>
    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4 d-flex flex-column justify-content-between'>
      <p>
        Perfect app. My husband and I use it to track all our expenses and income.
        We generate our household accounts and budget using this fab app.
        Furthermore, the developers are hands-on and extremely helpful.
        Do not look any further. Get this app now!
      </p>

      <h5>Maria & Dima</h5>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4 d-flex flex-column justify-content-between'>
      <p>
        This will keep you organized and in control, of money you do have and money you will have.
        This application is easy to use and will help you keep track of every dollar.
      </p>

      <h5>Oliver</h5>
    </div>

    <div class='col-8 col-md-5 col-lg-3 border shadow m-4 p-4 d-flex flex-column justify-content-between'>
      <p>
        A simple, accessible app that allows you to budget across weeks, months and years.
        The neat financial calendar lets you set up alerts and keep tabs on all transactions.
        Plus, it works with all currencies.
      </p>

      <h5>Max</h5>
    </div>
  </div>
</div>
