<%= form_with(url: transactions_path, method: 'get', data: { turbo_frame: 'transactions' }, class: 'text-dark position-relative p-3 shadow', id: wallet.id) do |f| %>
  <span class='d-block border-bottom'>Wallet: <%= wallet.name.capitalize %></span>
  <span class='d-block my-3 border-bottom text-truncate'>Currency: <%= wallet.currency.upcase %></span>
  <span class='d-block border-bottom'>Balance: <%= wallet.convert_to_currency_format.to_s + wallet.currency_symbol %></span>

  <%= f.hidden_field :wallet_id, value: wallet.id %>
  <%= f.submit class: 'position-absolute w-100 h-100 start-0 top-0 opacity-0', data: { action: 'wallets#selectWallet' } %>
<% end %>

<%= button_to '', wallet_path(wallet),
  class: 'btn-close bg-danger position-absolute top-0 end-0', method: :delete,
  form: { data: {
    turbo_confirm: ' Are you sure you want to delete the wallet?',
    controller: 'wallets',
    action: 'turbo:submit-end->wallets#destroy' }
  } %>
