<div class="col-lg-6 offset-lg-3">
  <div class="form-centered">
    <h2>Log in</h2>
    <br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control form-control-sm", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control form-control-sm", autocomplete: "current-password" %>
      </div>
      <br>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me, class: "form-check-input" %>
          </div>
        <% end %>
        <br>

      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-dark" %>
      </div>

    <% end %>
  </div>
</div>
<br>


<%= render "devise/shared/links" %>
