<%= render 'shared/header' %>
<div class='row mx-2 mb-5 border-bottom'>
  <div class='col-lg-3 col-12 mt-4'>
    <%= render 'shared/sidebar' %>
  </div>

  <div class='col-lg-9 col-12 transactions--border'>
    <%= turbo_stream_from 'transactions' %>
    <%= turbo_stream_from 'wallets' %>
    <h1 class='pt-5 mb-4'>All Transactions</h1>
    <%= render 'shared/notifications' %>

    <%= render 'transactions/transaction_filters' %>

    <%= render 'transactions/transactions', transactions: @transactions %>

    <%= turbo_frame_tag 'transaction_modal' do %>
      <% if current_user.wallets.present? %>
        <%= link_to 'Add transaction', new_transaction_path, data: { turbo_frame: 'categories', controller: 'transactions', action: 'transactions#showModal' }, class: 'btn btn-dark my-4', method: 'get' %>
      <% else %>
        <%= link_to 'Add Wallet', '', class: 'btn btn-dark my-4', data: { 'bs-target': '#AddWallet', 'bs-toggle': 'modal', controller: 'wallets', action: 'wallets#resetModal' } %>
      <% end %>
    <% end %>

    <%= render 'transactions/transactions', transactions: @transactions %>
  </div>
</div>

  <%= render 'modals/transaction' %>
  <%= render 'modals/category' %>
  <%= render 'modals/wallet' %>
</div>
