<div class='container'>
  <%= render 'shared/header' %>

  <%= turbo_stream_from 'transactions' %>
  <h1 class='pt-5 mb-4'>All Transactions</h1>


  <%= form_with(url: transactions_path, method: 'get', data: { controller: 'transactions', turbo_frame: 'transactions' }, class: 'mb-5') do |form| %>
    <%= form.label :query, 'Search by hashtag:' %>
    <%= form.text_field :query, data: { action: "input->transactions#search" } %>
  <% end %>

  <%= render 'transactions/transactions', transactions: @transactions %>

  <%= render 'modals/transaction' %>
</div>
