<div class='modal fade text-center' id='AddCategory' tabindex='-1' aria-labelledby='AddCategoryLabel' aria-hidden='true'>
  <div class='modal-dialog modal-md modal-dialog-centered mx-auto my-4'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='AddCategoryLabel'>Add category</h5>
        <button type='button' class='btn-close' data-bs-target='#AddTransaction' data-bs-toggle='modal' aria-label='Close'></button>
      </div>
      <div class='modal-body mx-5'>
        <%= form_with url: categories_path, method: :post do |f| %>
          <div>
            <%= f.label :title, class: 'd-block' %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>

          <div>
            <%= f.label :image, class: 'd-block' %>
            <%= f.text_field :image, class: 'form-control' %>
          </div>

          <div class='my-2'>
            <%= f.radio_button :transaction_type, 'expense', checked: true %> 
            <%= f.label :transaction_type, 'Expense', value: 'expense' %>
            <%= f.radio_button :transaction_type, 'income' %> 
            <%= f.label :transaction_type, 'Income', value: 'income' %>
          </div>

          <div class='modal-footer justify-content-center'>
            <%= f.submit 'Create', class: 'btn btn-dark', data: { 'bs-toggle': 'modal', 'bs-target': '#AddTransaction' } %>
            <button type='button' class='btn btn-dark' data-bs-target='#AddTransaction' data-bs-toggle='modal'>Close</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
