<%= form_with(url: transactions_path, method: 'get', id: 'search_transactions_form', data: { controller: 'transactions', turbo_frame: 'transactions' }, class: 'mb-4 row justify-content-center align-items-end') do |form| %>
  <%= form.hidden_field :wallet_id, value: '', id: 'wallet_list' %>

  <div class='transaction__block--medium'>
    <%= form.label :query, 'Search by keyword:', class: 'd-block' %>
    <%= form.text_field :query, data: { action: 'transactions#search' }, class: 'text-center modal__input form-control' %>
  </div>

  <div class='transaction__block--medium'>
    <%= form.label :category, 'Search by category:', class: 'd-block' %>
    <%= turbo_frame_tag 'search_by_category' do %>
      <%= select_tag :category,
        options_for_select(@categories.pluck(:title, :id)),
        include_blank: 'All Categories',
        class: 'text-center modal__input form-select',
        data: { action: 'input->transactions#search' }
      %>
    <% end %>
  </div>

  <div class='transaction__block--medium'>
    <%= form.label :day, 'Search by time:', class: 'd-block' %>
    <%= form.select :day,
      options_for_select([['Day', 1], ['Week', 7], ['Two weeks', 14], ['Month', 30], ['Two months', 60], ['Half-year', 182], ['Year', 365]]),
      { include_blank: 'All Time' },
      class: 'text-center modal__input form-select',
      data: { action: 'input->transactions#search' }
    %>
  </div>

  <div>
    <%= button_to 'Reset', '', data: { action: 'click->transactions#reset', turbo_frame: 'transactions' }, class:'btn bg-danger my-2', style: 'max-width: 80px;' %>
  </div>
<% end %>
