<h3><%= link_to 'Dashboard', dashboards_path %></h3>
<hr>
<div class="container">

  <%= form_with model: @transaction, method: :get do |form| %>
    <div class='form-group'>
      <%= form.select :transaction_type, current_user.transactions.transaction_types.keys, { selected: params[:transaction_type] || 'expense' }, { onchange: 'this.form.submit();' } %>
      <%= form.date_field :start_date, value: @start_date %>
      <%= form.date_field :end_date, value: @end_date %>
      <%= form.submit %>
    </div>

      <div class="row row-cols-2">

        <div class="col">

          <div class="card">
            <div class="card-header">
              Bar Chart for Expenses by Categories
            </div>
              <div class="card-body">
                <canvas id="chart-bar" width="200" height="200" data-data="<%= current_user.amount_for_categories(@transaction_type, @start_date, @end_date) %>" data-labels="<%= current_user.category_title(@transaction_type, @start_date, @end_date) %>"></canvas>
              </div>
          </div>
        </div>
 
        <div class="col">

          <div class="card">
            <div class="card-header">
              Pie Chart for Expenses by Categories
            </div>
              <div class="card-body">
                <canvas id="chart-pie" width="200" height="200" data-data="<%= current_user.amount_for_categories(@transaction_type, @start_date, @end_date) %>" data-labels="<%= current_user.category_title(@transaction_type, @start_date, @end_date) %>"></canvas>
              </div>
          </div>
        </div>

    </div>

  <% end %>
</div>
