<!DOCTYPE html>
<html>
  <head>
    <title>BudgetPlanner</title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link href='https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css' rel='stylesheet'/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= render 'layouts/favicons' %>

    <%= stylesheet_link_tag 'application', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js'></script>
  </head>

  <body class='text-center mt-5 pt-4' data-webpush="<%= Base64.urlsafe_decode64(ENV.fetch('WEBPUSH_PUBLIC_KEY', '')).bytes %>">
    <%= render 'shared/header' %>

    <div class='min-vh-100'>
      <%= yield %>
    </div>

    <div class='bg-dark text-white'>
      <p class='py-4 mb-0'>Copyright © Budget Planner 2022</p>
    </div>
  </body>
</html>
